body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
    margin: auto;
    margin-top: 30px;
    
}
.wrapper{
    background-color: black;
    color: white;
    margin: auto;
    width: 95%;

}
.search{
    margin: auto;
    margin-top: 30px;
   
}
#search{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    width: 60px;
    height: 34px;
    font-size: 16px;
}
.recipeBox{
    margin: 1px;
}

.box{
    display: inline-block;
    height: 200px;
    border: 5px solid white;
    width: 200px;
    
    margin: 10px;
    padding: 5px;
    
}
.row{
     margin-top: 40px;
}
.img1{
    width: 200px;
    height: 150px;
    margin-bottom: 2px;
}
/* .text2{
    margin-top: 2px;

} */

.imgRan{
    width: 300px;
    height: 200px;
    border: 3px solid white;
    margin-top: 5px;
    margin-bottom: 20px;
}
.main{
   padding-top: 10px;
   font-weight: bold;
   font-size: 30px;
}
.btn1{
    width: 40px;
    height: 34px;
    font-size: 16px;
}
.para{
    width: 700px;
    border: 4px dotted white;
    font-size: 16px;
    margin: auto;
    padding: 10px;
}
/* {
    width: 200px;
    height: 150px;
    

} */

/* .fa{
  width: 50px;
    height: 40px;
    background-color: white;
    color: black;
    
    
    text-align: center;

} */